# **Exploratory Data Analysis on VideoGame Sales**

Source: https://www.kaggle.com/datasets/gregorut/videogamesales/

Mounting Google Drive for Drive access

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Data Collection and Understanding

### Background Information

The dataset which we are going to use to perform EDA on, is Video Game Sales. We have a huge dataset with sales dating from 1980 to 2020. The expected results should give us the understanding on number of sales, percentages, statistics of the companies etc., Video games played a important role in increasing the economic growth of many countries. Consumers of all ages between 10-50 involve in purchase of video games. They serve the purpose of fulfilling entertainment.

### Importing the DataSet and Packages

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [9]:
!ls /content/drive/MyDrive/Python_72541_MidtermProject

vgsales.csv

In [11]:
try:
  vgs = pd.read_csv("/content/drive/MyDrive/Python_72541_MidtermProject/vgsales.csv")
except ValueError:
  print("file not found in directory")

### Displaying the details of the DataSet

In [14]:
vgs.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [34]:
vgs.tail(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.0,0.0,0.0,0.01

In [18]:
print('The total number of items present in this DataSet are:',len(vgs))

The total number of items present in this DataSet are: 16598

In [24]:
print('The total number of rows in the Dataset are',vgs.shape[0])

The total number of rows in the Dataset are 16598

In [25]:
print('The total number of columns in the Dataset are',vgs.shape[1])

The total number of columns in the Dataset are 11

In [28]:
print('The columns in the dataset are as follows:',vgs.columns)

The columns in the dataset are as follows: Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [31]:
print('Some more information on the DataSet:')
vgs.info()

Some more information on the DataSet:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

Since our Dataset contains numerical data, let us get the description of the dataset

In [32]:
vgs.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

# Cleaning the DataSet